@font-face {
  font-family: GoogleSans-Regular;
  src: url('~assets/fonts/GoogleSans-Regular.ttf');
}
@import "~assets/css/flaticon.css";
@font-face {
  font-family: GoogleSans-Medium;
  src: url('~assets/fonts/GoogleSans-Medium.ttf');
}
.googlesans-regular {
  font-family: GoogleSans-Regular, sans-serif;
}
.googlesans-medium {
  font-family: GoogleSans-Medium, sans-serif;
}
.v-btn {
  letter-spacing: 0.0452857143em !important;
}
.text-transform-inherit{
  text-transform: inherit !important;
}
a,a:hover{
  text-decoration: none;
}
.shadow-none{
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}
.h-100{
  height: 100%;
}
.w-100{
  width: 100%;
}
.shadow {
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}
.shadow-sm {
  -webkit-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}
.v-input__icon--prepend-inner{
  padding-right: 6px !important;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after{
  margin-left: 0;
  font-size: inherit;
}
img{
  max-width: 100%;
}
.text-capitalize{
  text-transform: capitalize;
}
.swal2-toast .swal2-title{
  font-family: Roboto;
  font-weight: 400 !important;
}
#man-nav-tabs .v-tab{
  font-size: 14px;
  text-transform: capitalize;
  letter-spacing: 0;
}
#desktop-top-nav{
  z-index: 2;
  -webkit-box-shadow: 0 0.125rem 0.20rem rgba(0, 0, 0, 0.075);
  box-shadow: 0 0.125rem 0.20rem rgba(0, 0, 0, 0.075);
}
#banner{
  position: relative;
  min-height: 300px;
  max-height: 440px;
  overflow: hidden;
}
#banner h1{
  font-size: 45px;
  line-height: 1.2;
}
#secondary-menu{
  z-index: 1;
}
.course-item h2{
  word-break: break-word;
  line-height: 1.4 !important;
}
/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}
#github-social::before {
  margin-left: -2px !important;
}
.v-list-item .v-list-item {
  padding-left: 0;
}
@media only screen and (max-width: 767px) {
  h1,.h1{
    font-size: 1.6rem;
  }
  h2,.h2{
    font-size: 1.35rem;
  }
  h5,.h5{
    font-size: 1rem;
  }
}
